@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Roboto:wght@100;500;700&display=swap');

.yoga-container {
    background: linear-gradient(100deg, #785a6c7e,#785a6c7e );
    min-width: 100vw;
    min-height: 100vh;
}

.secondary-btn {
    position: relative;
    left: 46.5%;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border-color: rgba(147, 146, 146, 0);
    border-width: 2px;
    box-shadow: 0px 0px 0px 0px;
    color: rgb(0, 0, 0);
    transition: 0.2s;
    font-family: "poppins";
}

.secondary-btn:hover {
    background-color: rgba(246, 63, 182, 0.457);
}

.starting-contdown {
    margin: auto;
    border: 10px solid rgba(125, 125, 125, 0.5);
    width: max-content;
    padding: 10px 30px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0);
    position: relative;
    top: 45%;
}
.starting-contdown h1 {
    color: white;
}
.pose-img {
    position:relative;
    right: 120px;
    top:150px;
    width: 470px;   
    aspect-ratio: 1;
    border-radius: 10px;
    float: right;
}

.performance-container {
    display: flex;
    padding: 20px;
    position: absolute;
    left: 150px;
}


.pose-performance {
    margin: 10px 10px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}
.pose-performance h4 {
    color: rgba(0,0,0,0.7);
}

#webcam {
    transform: rotateY(180deg);
    top: 50%;
}

#my-canvas {
    transform: rotateY(180deg);
    border-radius: 10px;
}
.instruction-list{
    color: #ffffff;
}
.main-services h3 a{
    cursor: default;
}